/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f9;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.header {
    background-color: #FF9966;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.header h1 {
    font-size: 24px;
    font-weight: bold;
}

.header p {
    font-size: 16px;
    line-height: 1.6;
    font-style: italic;
}

.main-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
}

.contexto {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    margin-right: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.contexto h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.contexto p {
    font-size: 16px;
    line-height: 1.6;
}

.graphic {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.car-details {
    margin-top: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: none; /* Inicialmente oculto */
}

.car-details h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.car-details p {
    font-size: 16px;
    line-height: 1.6;
}
